extends base.pug

block content  
    form(method="POST")
        input(placeholder="Title", required, type="text", name="title", maxLength=80, value=findByIdVideo.title)
        input(placeholder="Description", type="text", name="description", value=findByIdVideo.description)
        input(placeholder="Hashtags, separated by comma.", type="text", name="hashtags", value=findByIdVideo.hashtags.join())
        input(value="Save", type="submit")
