extends base.pug

block content 
    video(src="/" + findByIdVideo.fileUrl, controls)
    div 
        p=findByIdVideo.description
        small=findByIdVideo.createdAt
    a(href=`${findByIdVideo.id}/edit`) Edit Video &larr;
    br
    a(href=`${findByIdVideo.id}/delete`) Delete Video &rarr;