header {
    padding: 15px 55px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
        color: #ff1300;
        font-size: 36px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            margin-left: 30px;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
        }
        i {
            font-size: 15px;
        }    
    }
    .header__btn {
        background-color: white;
        color: $bg;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .header__avatar {
        margin-top: -5px;
        margin-left: 5px;
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
}